@import url(https://fonts.googleapis.com/css?family=Roboto);

*{
	font-family: Roboto, sans-serif;
	box-sizing: border-box;
}


.container{

}
.main-header{
	background: lightgrey;

}
.logo{
	display: flex;
	height: 10.5em;
	color: #333333;
	background: #ffffff;

	
   // background: red;


}
.logo-bage{
   flex:2;
   width: 70%;
   display: flex;
   min-width: 30%;
}
.logo-bage img{

	 width: 5em;
	 margin: 7%;
	 flex:1 1 0;
	 border: 1px solid white;
	 padding: 5px;
}
.logo-bage h2{
	font-size: 1.5em;
	display: inline-block;
	margin-left:6px;
}
.contact{
  flex:1;
  text-align: center;

  
}
.contact a{
    display: block;
   	color: #999999;
    margin: 9%;
  	padding-left: 2em;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;


}
  .btn-menu{
  	margin-top: 3em;
  	margin-left: 1.3em;
  	
  }



/*
//end This logo bage
*/
.menu{
	display: block;
}


.top-nav{
	background: #1c65db;
	margin-top: 0;
}
.top-nav a{
	color: #ffffff;
	display: block;
	padding: 10px;
	text-decoration: none;
	text-transform: uppercase;


}
.top-nav ul{
	list-style-type: none;
	margin: 0;
	margin-left: 0;

	
}
.top-nav li{
 	margin-left:0;
}
.top-nav a:hover{
	background: #779cd8;
}



/* end Header */


.slide{
   height: 410px;
	background: url("../img/slide.jpg") ,no-repeat ,fixed; 
	background-size: cover ;
	background-position: 100% 100%;
	

}












@media only screen and (min-width: 750px){

	.btn-menu{
		display: none;
	}


	.logo{
		
	}
.logo-bage{
	
	margin-left: 8em;
	padding-left: 5%;
}
.logo-bage img{}
.logo-bage h2{}
.contact a{
	padding-left: 60%;
}


.top-nav .menu{
	display: flex;
	justify-content: center;

}
.top-nav li{
	 margin-left: 3em;
	text-align: center;
}


}


