@import url(https://fonts.googleapis.com/css?family=Roboto);

*{
	font-family: Roboto, sans-serif;
	box-sizing: border-box;
}


.container{
  margin: 3px;
}
.main-header{
	background: lightgrey;

}
.logo{
	display: grid;
	height: 8em;
	color: #333333;
	background: #ffffff;
    grid-template-columns: auto auto;

	
   // background: green;


}
.search{
	display: none;
}
.logo-bage{

   width: 50%;
   display: flex;
   min-width: 30%;
}
.logo-bage img{
	 width: 9.2em;
	margin-left:  7%;
	margin-top: 5%;
	
	padding: 2px;
}

.contact{
 

  
}
.contact-link{
   height: 4em;
    text-align: center;
   padding-top: 7px;

	//background-color: green;
}
.btn{
	margin-top: .3em;
 
  font-size: 2em;
  text-align: right;
  padding-right: .3em;

 
  
}

.contact a ,.fa-bars{
		color: #999999;
}
.contact a {
    display: block;
   	padding: 3%;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;



}

.contact a:hover,.fa-bars:hover{
	color: #000;

}
.main_nav{
   	background: #1c65db;
}
 
.top-nav li{
	list-style-type: none;
	padding: .5em;
}


/*
//end This logo bage
*/





.menu{
	//display: block;
}


.top-nav{
	
	margin-top: 0;
	display: none;
	transition-delay: 0.5s;
}
.top-nav a{
	color: #ffffff;
	display: block;
	padding: 10px;
	text-decoration: none;
	text-transform: uppercase;


}

.top-nav li{

 	margin-left:0;
 	padding: .5em;
}
.top-nav a:hover{
	background: #779cd8;
}





/* end Header */

.slider {
	width: 100%;
	

}

 .slider img{
   max-width: 100%;
  

 }









@media only screen and (min-width: 760px){
	.container{
		margin: 0;
	}

.btn{
		display: none;
	}

.top-nav{
	
	display: block;
	width: 80%;
	margin-right: 15%;
	margin-left: 15%;
}




.logo-bage{
	padding: 2%;
}
.logo-bage img{
	width: 10em;
	margin-left: 3em;
}
.search{
	display: block;
}


.btn{
	height: 0;
 
}
.search{
   
   height: 4em;
   text-align: center;

}
.search input{
	margin-top: 1em;
	padding: 1px;
}

.contact a{
	display: inline-block;
	font-size: 16px;

	//padding-left: 10%;
}
.top-nav{
	
	height: 2.5em;
	display: grid;
	grid-template-columns: repeat(6,1fr);
}
.top-nav li:hover{
  border-bottom: 3px solid red;
}
.top-nav li {
	padding: 0px;
font-size: 15px;
text-align: center;
}






}


