@import url(https://fonts.googleapis.com/css?family=Roboto);

*{
	font-family: Roboto, sans-serif;
	box-sizing: border-box;
}


.container{

}
.main-header{
	background: lightgrey;

}
.logo{
	display: flex;
	height: 10em;
	color: #333333;
	background: #ffffff;

	
   // background: red;


}
.logo-bage{
   flex:2;
   width: 70%;
   display: flex;
   min-width: 30%;
}
.logo-bage img{

	 width: 5em;
	 margin: 7%;
	 flex:1 1 0;
	 border: 1px solid white;
	 padding: 5px;
}
.logo-bage h2{
	font-size: 1.5em;
	display: inline-block;
	margin-left:6px;
}
.contact{
  flex:1;
  //text-align: center;
  //background-color: red;

  
}
.contact a {
    display: block;
   	color: #999999;
    margin: 9%;
  	padding: .2em;
 //	background-color: green;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;


}

.contact a:hover{
	color: #000;
}
 .btn-menu {
  	margin-top: 1em;
  	margin-left: 1em;
  	text-align: center;
  	
  }



/*
//end This logo bage
*/
.menu{
	display: block;
}


.top-nav{
	background: #1c65db;
	margin-top: 0;
}
.top-nav a{
	color: #ffffff;
	display: block;
	padding: 10px;
	text-decoration: none;
	text-transform: uppercase;


}
.top-nav ul{
	list-style-type: none;
	margin: 0;
	margin-left: 0;

	
}
.top-nav li{
 	margin-left:0;
}
.top-nav a:hover{
	//background: #779cd8;
}




/* end Header */


.slide{
   height: 410px;
	background: url("../img/slide.jpg") ,no-repeat ,fixed; 
	background-size: cover ;
	background-position: 100% 100%;
	

}












@media only screen and (min-width: 760px){

.btn-menu{
		display: none;
	}



.logo-bage{
	padding: 2%;
}
.logo-bage img{
	width: 6em;
}
.logo-bage h2{
	margin-left: 1em;
}
.contact a{
	font-size: 16px;

	padding-left: 10%;
}
.top-nav{
	height: 2.5em;
}
.top-nav li:hover{
  border-bottom: 3px solid red;
}
.top-nav li {
font-size: 15px;
}


.top-nav .menu{
	display: flex;
	justify-content: flex-start;

}
.top-nav li{
	 flex: 1 1 0;
	text-align: center;
}


}


